<div class="page">
  <!-- General Error -->
  <div *ngIf="error$ | async as error" class="general-error">{{ error }}</div>

  <div class="page__top-items-container">
    <!-- Title -->
    <h1 class="page__title">Articles</h1>

    <!-- Spinner -->
    <img
      *ngIf="isLoading$ | async"
      class="page__spinner"
      src="./assets/spinner.svg"
      alt="spinner"
    />

    <!-- Create article btn -->
    <button (click)="navigateToCreateArticle()" class="page__create-btn">
      Create article +
    </button>
  </div>

  <!-- Articles container -->
  <div class="page__articles">
    <ng-container *ngIf="articles$ | async as articles">
      <app-article
        *ngFor="let article of articles.slice(-10).reverse()"
        [article]="article"
      ></app-article>
    </ng-container>
  </div>
</div>
