img {
  max-width: 300px;
}

:host {
  max-width: 300px;
}

.article {
  text-decoration: none;
  color: black;

  &__title {
    font-weight: 300;
    font-size: 1.4em;

    margin: 0.4em 0;
  }

  &__description {
    font-weight: 200;
    font-size: 0.85em;
  }
}
