:host {
  max-width: 300px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.article {
  text-decoration: none;
  color: black;

  &__title {
    font-weight: 300;
    font-size: 1.4em;
    margin: 0.4em 0;
  }

  &__description {
    font-weight: 200;
    font-size: 0.85em;
  }

  &__img {
    object-fit: cover;
  }
}
