.page {
  &__title {
    font-weight: 600;
    font-size: 3em;
    margin: 0.5em 0;
  }

  &__description {
    font-size: 2em;
    font-weight: 400;
  }

  &__go-back {
    margin: 2em 0;
    color: rgb(43, 43, 43);
    font-weight: 300;
    font-size: 1.3em;

    &:hover {
      filter: invert(54%) sepia(11%) saturate(12%) hue-rotate(5deg)
        brightness(91%) contrast(79%);
    }
  }

  &__arrow {
    width: 13px;
    margin-right: 0.5em;
  }
}
