<div class="page">
  <div *ngIf="error$ | async as error" class="general-error">{{ error }}</div>

  <app-go-back></app-go-back>

  <form
    [formGroup]="newArticleForm"
    (ngSubmit)="submitForm()"
    class="page__form"
  >
    <h1>Create new article</h1>

    <div class="page__form-item">
      <label for="title" class="page__form-label">*Title: </label>
      <input
        formControlName="title"
        id="title"
        type="text"
        class="page__form-input {{ titleError ? '-error' : '' }}"
      />
      <p class="page__error-msg" *ngIf="titleError">{{ titleError }}</p>
    </div>

    <div class="page__form-item">
      <label for="description" class="page__form-label">*Description: </label>
      <textarea
        formControlName="description"
        id="description"
        class="page__form-input {{ descriptionError ? '-error' : '' }}"
      ></textarea>
      <p class="page__error-msg" *ngIf="descriptionError">
        {{ descriptionError }}
      </p>
    </div>

    <div class="page__form-item">
      <label for="image" class="page__form-label">Image url:</label>
      <input
        formControlName="imageUrl"
        id="image"
        type="text"
        class="page__form-input"
      />
    </div>

    <button class="page__submit-btn" [disabled]="error$ | async">Add</button>
  </form>
</div>
